@import "tailwindcss";

@plugin '../config/theme';

@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@source '../pages/**/*.{js,ts,jsx,tsx}';
@source '../components/**/*.{js,ts,jsx,tsx}';

@theme {
  --font-sans: "font", sans-serif;
  --font-mono: "monospace", monospace;
  --font-thai: "Prompt", sans-serif;
}

/* Override Next.js portal default positioning - remove left and top */
nextjs-portal {
  left: unset !important;
  top: unset !important;
}
